.Guest {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #00000012;
  flex: 1 1 80%;
  max-width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &__name {
  }
  &__status {
    font-weight: bold;
    &.Approved {
      color: green;
    }
    &.Declined {
      color: red;
    }
  }
}
