.Footer {
  height: 85px;
  background-color: #505759;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ebb643;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 30px;
}
